{% extends 'base.html' %}
{% block content %}

<section id="center" class="center_o pt-5">
    <div class="container">
        <div class="row center_o1 text-center">
            <div class="col-md-12">
                <h2>BLOG CATEGORIES</h2>
                <h5 class="bg_dark d-inline-block p-4 mb-0 mt-4 pt-2 pb-2 fw-normal col_red">
                    <a class="text-white" href="{% url 'home' %}">Home</a>
                    <span class="me-2 ms-2 text-muted"> /</span> Blog
                </h5>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="p_3 bg-light">
    <div class="container">
        <div class="row blog1">
            <div class="col-md-9">
                <div class="blog1l">
                    {% for post in latest_posts %}
                        <div class="blog1l1 bg-white mt-4">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="{% url 'blog:post_detail' post.pk %}">
                                        <img src="{{ post.image.url }}" height="480" class="w-100" alt="{{ post.title }}">
                                    </a>
                                </figure>
                            </div>
                            <div class="blog1l1i clearfix p-4">
                                <h6 class="col_red">{{ post.created_at|date:"d M Y" }} <span class="me-2 ms-2">|</span> by {{ post.author.username }}</h6>
                                <h4 class="mt-3">
                                    <a href="{% url 'blog:post_detail' post.pk %}">
                                        {{ post.title }}
                                    </a>
                                </h4>
                                <p>{{ post.content|truncatewords:30 }}</p>
                                <h6 class="mb-0">
                                    <a class="button_1" href="{% url 'blog:post_detail' post.pk %}">Read More <i class="fa fa-long-arrow-right ms-1"></i></a>
                                </h6>
                            </div>
                            <div class="blog1l1i1 clearfix row m-0 p-3">
                                <div class="col-md-9">
                                    <div class="blog1l1i1l">
                                        <ul class="mb-0">
                                            <li class="d-inline-block col_red me-3">
                                                <i class="fa fa-thumbs-up me-1"></i> 
                                                <a href="{% url 'blog:like_post' post.pk %}">{{ post.likes_count }} Likes</a>
                                            </li>
                                            <li class="d-inline-block col_red me-3">
                                                <i class="fa fa-comments me-1"></i>
                                                <a href="{% url 'blog:post_detail' post.pk %}#comments">{{ post.comments_count }} Comments</a>
                                            </li>
                                            <li class="d-inline-block col_red">
                                                <i class="fa fa-tags me-1"></i>
                                                <a href="{% url 'blog:post_detail' post.pk %}">{{ post.category.name }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="blog1l1i1r text-end">
                                        <ul class="mb-0">
                                            <li class="d-inline-block me-2">
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                            </li>
                                            <li class="d-inline-block me-2">
                                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            </li>
                                            <li class="d-inline-block me-2">
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                            <li class="d-inline-block">
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
